{% extends "blog/base.html" %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <h1>Добро пожаловать в блог!</h1>

    {% if posts %}
        {% for post in posts %}
            <div>
                <h2>{{ post.title }}</h2>
                <p>{{ post.body|linebreaks }}</p>
                <small>Опубликовано: {{ post.created_at }}</small>
                <hr>
            </div>
        {% endfor %}
    {% else %}
        <p>Пока что постов нет.</p>
    {% endif %}
{% endblock %}
